# Python PRINT Function

In [1]:
print('Hello PIAIC') #string

Hello PIAIC

In [2]:
print("hello World")

hello World

In [3]:
print(123) #integer

123

In [4]:
print(12.3) #float

12.3

In [5]:
print('Hello', 123, 12.3)

Hello 123 12.3

In [6]:
print('Hello', 123, 12.3, sep = '  ')

Hello  123  12.3

In [7]:
print('Hello', 123, 12.3, sep = '@')

Hello@123@12.3

In [8]:
print('Hello', 123, 12.3, sep = 'Separator')

HelloSeparator123Separator12.3

In [9]:
print(12,45,"hye","my","name",sep='&')

12&45&hye&my&name

# all practice

In [10]:
print('Hello', 123, 12.3, sep = '=')

Hello=123=12.3

In [11]:
print("deead","bad",123,789,101,sep='#')

deead#bad#123#789#101

In [12]:
print("slow","fast","hot","ccold",444,676778,sep ='love')

slowlovefastlovehotloveccoldlove444love676778

In [13]:
a=9
b=3
a//b

3

In [14]:
a%b

0

In [15]:
d=9
c=2
d%c

1

In [16]:
d=25
f=5
g=d+f

In [17]:
g

30

In [18]:
g+5

35

In [19]:
g = g+5
g

35

In [20]:
g +=5
g

40

In [21]:
g*=2
g

80

In [22]:
c = 12

In [23]:
c+=5
c

17

In [24]:
c*=5
c

85

In [25]:
a>b

True

In [26]:
a<b

False

In [27]:
a!=b

True

In [28]:
a==b

False

In [29]:
a = 10
type(a)

int

In [30]:
str(a)

'10'

In [31]:
print("this number is"+ str(a))

this number is10

In [32]:
print('my girl age is'+ str(a))

my girl age is10

In [33]:
name ="sumaira"
age =45
print("My name is name and my age is age".format(name,age))

My name is name and my age is age

In [34]:
print(f'my name is {name} and my age is {age}')

my name is sumaira and my age is 45

In [35]:
 a =20
 b =10
if a>b:
    print("this is true")
else:
    print("this is false")

this is true

In [36]:
if a<b:
    print("this is false")
else:
    print("you are failed")

you are failed

# sorting

In [37]:
friuts=["banana","grapes","orange","apple","peach","coconut"]

In [38]:
 friuts.sort(reverse=True)

In [39]:
numbers =[23,45,56,67,78,99]

In [40]:
numbers.sort(reverse=True)
numbers

[99, 78, 67, 56, 45, 23]

In [41]:
friuts.sort(reverse=True)
friuts

['peach', 'orange', 'grapes', 'coconut', 'banana', 'apple']

In [42]:
del friuts[3]
friuts

['peach', 'orange', 'grapes', 'banana', 'apple']

In [43]:
del numbers[4]
numbers

[99, 78, 67, 56, 23]

In [44]:
list_2 = numbers
list_2

[99, 78, 67, 56, 23]

In [45]:
list3=list_2.copy()
list3

[99, 78, 67, 56, 23]

In [157]:
new_friuts = friuts
new_friuts

[23, 45, ['apple', 'banana', 'watermelon', 'pineapple', 'peach']]

In [47]:
list_2.append(100)
list3

[99, 78, 67, 56, 23]

In [48]:
list_2

[99, 78, 67, 56, 23, 100]

In [158]:
new_friuts.append('guava')
friuts

[23, 45, ['apple', 'banana', 'watermelon', 'pineapple', 'peach'], 'guava']

In [ ]:
friuts3

In [ ]:
friuts3.reverse()
friuts3

In [ ]:
friuts3.clear()
friuts3

In [14]:
marks = [22,33,44,55,66,78,90]

In [ ]:
new_marks = marks.pop()
new_marks

In [3]:
new_marks = marks.pop(3)
new_marks

55

In [15]:
poppedlist = []

In [16]:
poppedElement = marks.pop()
poppedlist.append(poppedElement)
print(marks)
print(poppedlist)

[22, 33, 44, 55, 66, 78]
[90]

In [4]:
clothes = ["shalwar","tshirt","kameez","pants","kurti","pajama"]

In [5]:
new_clothes = []

In [10]:
all_clothes = clothes.pop()
new_clothes.append(all_clothes)
print(clothes)
print(new_clothes)

['shalwar']
['pajama', 'kurti', 'pants', 'kameez', 'tshirt']

In [11]:
books =["english","maths","islamiat","pak.studies","history"]

In [12]:
new_books =[]

In [13]:
all_books = books.pop()
new_books.append(all_books)
print(books)
print(new_books)

['english', 'maths', 'islamiat', 'pak.studies']
['history']

In [17]:
food =["salad","noodle","rice","salan","qorma"]

In [18]:
new_food =[]

In [19]:
all_food = food.pop()
new_food.append(all_food)
print(food)
print(new_food)

['salad', 'noodle', 'rice', 'salan']
['qorma']

In [20]:
if len(food)!= 0:
    new_food.append(food.pop())
    print(new_food)
else:
    print("your food is tasty")

['qorma', 'salan']

# list in list

In [26]:
friuts = [23,45,["apple","banana","watermelon","pineapple","peach"]]
friuts

[23, 45, ['apple', 'banana', 'watermelon', 'pineapple', 'peach']]

In [27]:
friuts[2][4]

'peach'

In [148]:
girls = ["sara","sana","hina","huma","batool"]
girls

['sara', 'sana', 'hina', 'huma', 'batool']

In [149]:
boys = ["ahmad","maaz","saad","asad","hamza"]
boys

['ahmad', 'maaz', 'saad', 'asad', 'hamza']

In [150]:
abc = [12,34,45,girls,boys,"xyz"]
abc

[12,
 34,
 45,
 ['sara', 'sana', 'hina', 'huma', 'batool'],
 ['ahmad', 'maaz', 'saad', 'asad', 'hamza'],
 'xyz']

In [151]:
abc[3].remove("batool")
abc

[12,
 34,
 45,
 ['sara', 'sana', 'hina', 'huma'],
 ['ahmad', 'maaz', 'saad', 'asad', 'hamza'],
 'xyz']

In [152]:
abc[4].remove('hamza')
abc

[12,
 34,
 45,
 ['sara', 'sana', 'hina', 'huma'],
 ['ahmad', 'maaz', 'saad', 'asad'],
 'xyz']

In [155]:
#del abc[4][3]
abc

[12,
 34,
 45,
 ['sara', 'sana', 'hina', 'huma'],
 ['ahmad', 'maaz', 'saad'],
 'xyz']

# slicing

In [128]:
        #-8 -7 -6 -5 -4 -3 -2 -1
numbers =[12,23,34,45,56,67,78,89,]  
        # 0  1  2  3  4   5  6  7  
numbers

[12, 23, 34, 45, 56, 67, 78, 89]

In [129]:
numbers[2:5]

[34, 45, 56]

In [130]:
numbers[3:8]

[45, 56, 67, 78, 89]

In [131]:
numbers[0:5]

[12, 23, 34, 45, 56]

In [132]:
numbers[-5:-1]

[45, 56, 67, 78]

In [133]:
numbers[-1:-7]

[]

In [134]:
numbers

[12, 23, 34, 45, 56, 67, 78, 89]

In [135]:
numbers[-7:-1]

[23, 34, 45, 56, 67, 78]

In [136]:
numbers[2:6:2]

[34, 56]

In [137]:
numbers[3:8:1]

[45, 56, 67, 78, 89]

In [138]:
 numbers[1:6:3]

[23, 56]

In [139]:
numbers[::2]

[12, 34, 56, 78]

In [140]:
numbers[3::]

[45, 56, 67, 78, 89]

In [141]:
numbers[:4:]

[12, 23, 34, 45]

In [144]:
numbers

[12, 23, 34, 45, 56, 67, 78, 89]

In [145]:
numbers[:6]

[12, 23, 34, 45, 56, 67]

In [146]:
numbers[4:]

[56, 67, 78, 89]

# tupple

In [2]:
abc = (2,34,44,56,67,77,89)
abc

(2, 34, 44, 56, 67, 77, 89)

In [3]:
abc[5]

77

In [4]:
abc[2:5]

(44, 56, 67)

In [5]:
abc[::5]

(2, 77)

In [6]:
abc[:5]

(2, 34, 44, 56, 67)

In [8]:
abc[0::6]

(2, 89)

In [11]:
abc[1:4:3]

(34,)

In [10]:
abc

(2, 34, 44, 56, 67, 77, 89)

In [24]:
a=("book","rubber","sharpner","ruler")   #packing

In [25]:
x,y,z,w =a

In [26]:
x

'book'

In [27]:
y

'rubber'

In [28]:
z

'sharpner'

In [29]:
w

'ruler'

In [33]:
b = ("saad","asad","sadaf","huma","yasir")

In [42]:
h,d,f,g,k =b

In [43]:
h

'saad'

In [44]:
d

'asad'

In [45]:
f

'sadaf'

In [46]:
g

'huma'

In [47]:
k

'yasir'

In [61]:
for a in range(10):
    print(a,'sumaira alam')

0 sumaira alam
1 sumaira alam
2 sumaira alam
3 sumaira alam
4 sumaira alam
5 sumaira alam
6 sumaira alam
7 sumaira alam
8 sumaira alam
9 sumaira alam

In [63]:
for b in range(1,6):
    print(b,"sumaira alam")

1 sumaira alam
2 sumaira alam
3 sumaira alam
4 sumaira alam
5 sumaira alam

In [64]:
for b in range(2,7):
    print(b,"sumaira alam")

2 sumaira alam
3 sumaira alam
4 sumaira alam
5 sumaira alam
6 sumaira alam

In [66]:
for b in range(0,10,3):
    print(b,"sumaira alam")

0 sumaira alam
3 sumaira alam
6 sumaira alam
9 sumaira alam

In [67]:
for b in range(1,10,2):
    print(b,"sumaira alam")

1 sumaira alam
3 sumaira alam
5 sumaira alam
7 sumaira alam
9 sumaira alam

In [68]:
for b in range(10,1,-2):
    print(b,"sumaira alam")

10 sumaira alam
8 sumaira alam
6 sumaira alam
4 sumaira alam
2 sumaira alam

In [71]:
for b in range(10,2,-3):
    print(b,"sumaira alam")

10 sumaira alam
7 sumaira alam
4 sumaira alam

In [79]:
my_list =["asad","qamar","saad","zafar","daar"]
for a in my_list:
    print (a)

asad
qamar
saad
zafar
daar

In [82]:
numbers = [12,34,45,56,67,22,89]
for n in numbers:
    print(n)

12
34
45
56
67
22
89

In [83]:
list =[2,4,6,8,10]
for l in list:
    print(5*l)

10
20
30
40
50

In [86]:
numbers = [2,3,4,5,6,7,8]
for n in numbers:
    print(5+n)

7
8
9
10
11
12
13

In [88]:
new_list = [2,4,6,8,10]
list2 =[]
for a in new_list:
    list2.append(5*a)
print(list2)

[10, 20, 30, 40, 50]

In [90]:
for i in range(21):
    print(i)
    if i ==10:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
20
11
12
13
14
15
16
17
18
19
20

In [93]:
for i in range(9):
    print(i)
    if i ==5:
        print(2*i)

0
1
2
3
4
5
10
6
7
8

In [101]:
for a in range(21):
    print(a)
    if a ==9:
        print(a+3)

0
1
2
3
4
5
6
7
8
9
12
10
11
12
13
14
15
16
17
18
19
20

In [95]:
#take input from user and print table
#of that number in the following format
#2 x 1 = 2

In [10]:
table= int(input("Enter the table number:"))
for i in range(1,11):
    print(f"{table}*{i}={table*i}")

Enter the table number:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [105]:
for i in "America":
    print (i)

A
m
e
r
i
c
a

In [106]:
for i in "sumaira":
    print(i.title())

S
U
M
A
I
R
A

In [111]:
for i in "sumaira":
    for(j) in range(6):
         print(i,j)

s 0
s 1
s 2
s 3
s 4
s 5
u 0
u 1
u 2
u 3
u 4
u 5
m 0
m 1
m 2
m 3
m 4
m 5
a 0
a 1
a 2
a 3
a 4
a 5
i 0
i 1
i 2
i 3
i 4
i 5
r 0
r 1
r 2
r 3
r 4
r 5
a 0
a 1
a 2
a 3
a 4
a 5

In [112]:
for i in "Pakistan":
    for k in range(4):
        print(i,k)

P 0
P 1
P 2
P 3
a 0
a 1
a 2
a 3
k 0
k 1
k 2
k 3
i 0
i 1
i 2
i 3
s 0
s 1
s 2
s 3
t 0
t 1
t 2
t 3
a 0
a 1
a 2
a 3
n 0
n 1
n 2
n 3

In [114]:
for i in "karachi zindabad":
    for b in range(5):
        print(i,b)

k 0
k 1
k 2
k 3
k 4
a 0
a 1
a 2
a 3
a 4
r 0
r 1
r 2
r 3
r 4
a 0
a 1
a 2
a 3
a 4
c 0
c 1
c 2
c 3
c 4
h 0
h 1
h 2
h 3
h 4
i 0
i 1
i 2
i 3
i 4
  0
  1
  2
  3
  4
z 0
z 1
z 2
z 3
z 4
i 0
i 1
i 2
i 3
i 4
n 0
n 1
n 2
n 3
n 4
d 0
d 1
d 2
d 3
d 4
a 0
a 1
a 2
a 3
a 4
b 0
b 1
b 2
b 3
b 4
a 0
a 1
a 2
a 3
a 4
d 0
d 1
d 2
d 3
d 4

In [8]:
s_name = ["sara","saba","sana","hiba","sono"]
l_name = ["ahmaed","khan","jaan","ali","alam"]
new_name =[]

for s in s_name:
    for l in l_name:
        new_name.append(s + " " + l)
(new_name)

['sara ahmaed',
 'sara khan',
 'sara jaan',
 'sara ali',
 'sara alam',
 'saba ahmaed',
 'saba khan',
 'saba jaan',
 'saba ali',
 'saba alam',
 'sana ahmaed',
 'sana khan',
 'sana jaan',
 'sana ali',
 'sana alam',
 'hiba ahmaed',
 'hiba khan',
 'hiba jaan',
 'hiba ali',
 'hiba alam',
 'sono ahmaed',
 'sono khan',
 'sono jaan',
 'sono ali',
 'sono alam']

In [13]:
f_name =['no','sana','hadi','huda'] 
l_name =['khan','jaan','ali','ahmed']
new_name =[]
for f in f_name:
    for l in l_name:
        new_name.append(f + " " +l)
new_name

['no khan',
 'no jaan',
 'no ali',
 'no ahmed',
 'sana khan',
 'sana jaan',
 'sana ali',
 'sana ahmed',
 'hadi khan',
 'hadi jaan',
 'hadi ali',
 'hadi ahmed',
 'huda khan',
 'huda jaan',
 'huda ali',
 'huda ahmed']

In [17]:
a_name =['no','sana','hadi','huda'] 
b_name =['khan','jaan','ali','ahmed']
new_name = []
for a in a_name:
    for b in b_name:
        new_name.append(a + " " + b)
new_name

['no khan',
 'no jaan',
 'no ali',
 'no ahmed',
 'sana khan',
 'sana jaan',
 'sana ali',
 'sana ahmed',
 'hadi khan',
 'hadi jaan',
 'hadi ali',
 'hadi ahmed',
 'huda khan',
 'huda jaan',
 'huda ali',
 'huda ahmed']

In [18]:
"pakistan".upper()

'PAKISTAN'

In [19]:
len("pakistan zindabad")

17

In [24]:
str = ("pakistanzindabad")

In [25]:
str[2:8]

'kistan'

In [26]:
str[3:10:2]

'itni'

In [27]:
str[:10]

'pakistanzi'

In [28]:
str[11:]

'dabad'

In [29]:
str[2:-9]

'kista'

In [30]:
str[-2:-8]

''

# dictionaries
#adding value in dictionary

In [38]:
adict={}

In [39]:
type(adict)

dict

In [40]:
len(adict)

0

In [48]:
adict["name"]='hamza'
adict["age"]= 23
adict["adress"]='street 45' 
adict

{'name': 'hamza', 'age': 23, 'adress': 'street 45'}

In [45]:
adict["name"]

'hamza'

In [46]:
adict["age"]

23

In [47]:
adict["adress"]

'street 45'

In [54]:
del adict["adress"]
adict

{'name': 'hamza', 'age': 23}

In [55]:
cdict ={"name":"sumaira","city":"karachi","contact":"1234556"}

In [56]:
cdict["color"]="black"
cdict["member"]="100"
cdict

{'name': 'sumaira',
 'city': 'karachi',
 'contact': '1234556',
 'color': 'black',
 'member': '100'}

In [61]:
fdict ={"name":"sumaira","city":"karachi","contact":"1234556"}

In [59]:
for key in fdict.keys():
    print(key)

name
city
contact

In [63]:
for val in fdict.values():
    print(val)

sumaira
karachi
1234556

In [65]:
for key,value in fdict.items():
    print(key,value)

name sumaira
city karachi
contact 1234556

In [67]:
for k in fdict.keys():
    print(k)

name
city
contact

In [68]:
for v in fdict.values():
    print(v)

sumaira
karachi
1234556

In [69]:
for k,v in fdict.items():
    print(k,v)

name sumaira
city karachi
contact 1234556

In [75]:
sodict =[12,34,45,{"name":"sumaira","school":"bina","contact":"12323445"}]

In [78]:
sodict[3]

{'name': 'sumaira', 'school': 'bina', 'contact': '12323445'}

In [79]:
sodict[3]["contact"]

'12323445'

In [81]:
sodict[3]["school"]

'bina'

In [82]:
"age" in sodict

False

In [86]:
my_list =["biryani","pizza","roll"]
ur_list =my_list[:]
print("my tasty food is:")
print(my_list)

print("\n ur tasty food is :")
print(ur_list)

my tasty food is:
['biryani', 'pizza', 'roll']

 ur tasty food is :
['biryani', 'pizza', 'roll']

In [96]:
my_list.append("boti")
print(my_list)

['biryani', 'pizza', 'roll', 'boti', 'boti', 'boti', 'boti', 'boti', 'boti', 'boti', 'boti', 'boti']

# clear()

In [67]:
akdict = {"car":"mehran","color":"white","model":"2007"}
akdict

{'car': 'mehran', 'color': 'white', 'model': '2007'}

In [12]:
akdict.clear()
akdict

{}

# copy()

In [42]:
bkdict= akdict.copy()
bkdict

{'car': 'mehran', 'color': 'white', 'model': '2007'}

# from(keys)

In [45]:
x = {"key1","key2","key3"}
y = 0
thisdict = dict.fromkeys(x,y)

# getkeys

In [56]:
cars ={'car': 'mehran', 'color': 'white', 'model': '2007'}
print(cars)

{'car': 'mehran', 'color': 'white', 'model': '2007'}

In [57]:
x = cars.get("color")
print(x)

white

# items

In [60]:
x =cars.items()
print(x)

dict_items([('car', 'mehran'), ('color', 'white'), ('model', '2007')])

# keys

In [61]:
x = cars.keys()
print(x)

dict_keys(['car', 'color', 'model'])

# pop

In [63]:
x =cars.pop("model")
print(cars)

{'car': 'mehran', 'color': 'white'}

# pop items

In [65]:
x = cars.popitem()
print(cars)

{'car': 'mehran'}

# set default

# updates

In [66]:
cars              #naee list li hai

{'car': 'mehran'}

In [68]:
akdict

{'car': 'mehran', 'color': 'white', 'model': '2007'}

In [70]:
cars.update({"door":"two"})
print(cars)

{'car': 'mehran', 'door': 'two'}

In [71]:
akdict.update({'door':'two'})
print(akdict)

{'car': 'mehran', 'color': 'white', 'model': '2007', 'door': 'two'}

# value

In [73]:
x = akdict.values()
print(x)

dict_values(['mehran', 'white', '2007', 'two'])

#  positional functions

In [106]:
def pet_user(name_pet,kind_pet):
    '''display informatiom about pet'''
    print("\n i have a " +  name_pet + " it is " + kind_pet + ".")
pet_user("bobby","bird")

 i have a bobby it is bird.

In [118]:
pet_user("carly","dog")

 i have a carly it is dog.

In [120]:
def student_list(boy1,boy2,boy3):
    print(" hey " + boy1 + "!")
    print("\n  what is your age " + boy1 + "?")
    print("\n what is your age " + boy2 + "?")
    print("\n what is your age " + boy3 + "?")      
student_list('saad','asad','hamza')

 hey saad!

  what is your age saad?

 what is your age asad?

 what is your age hamza?