# Python First Class

This is first class to learn python

In [ ]:
print('hello PIAIC')#string

In [1]:
print(123)#integer

123

In [2]:
print(12.3)# float

12.3

In [3]:
print("hello world")

hello world

In [4]:
print('hello',123,12.3)

hello 123 12.3

In [7]:
print('hello',123,12.3,sep='  ')

hello  123  12.3

In [8]:
type(12)

int

# Variables

In [12]:
name = 'sumaira'
print (name)

sumaira

In [13]:
name = True
print(name)

True

In [15]:
a_a =21
print(a_a)

21

In [16]:
True = 43
print(true)

SyntaxError: can't assign to keyword (<ipython-input-16-1417aafc265f>, line 1)

In [17]:
_ = 45
print(_)

45

In [18]:
name = 123
type(name)

int

# differnt operetor

In [35]:
a = 2
b = 3
a+b

5

In [20]:
10 // 3

3

In [21]:
c = 10 
d = 3
c % d

1

In [22]:
c + 3

13

In [23]:
c

10

In [24]:
2c = c+3
c

13

In [25]:
c += 5

In [26]:
c

18

In [27]:
c

18

In [29]:
c += 5

In [30]:
c

28

In [ ]:
c *= 2

In [31]:
c

28

In [32]:
(3+2)*2+3/2

11.5

In [33]:
3**2

9

In [34]:
(3+2)*2+5**2/2

22.5

In [36]:
a > b

False

In [37]:
a < b

True

In [38]:
a != b

True

In [39]:
a ==b

False

# concatenation

In [43]:
first_name ="sumaira"
last_name ="alam"
print(first_name+" "+last_name)

sumaira alam

In [44]:
print("abc"+ 123)

TypeError: can only concatenate str (not "int") to str

In [45]:
a = 10
type(a)

int

In [46]:
str(a)    type casting

'10'

In [48]:
print("this number is" + str(a))

this number is10

In [49]:
name = 'ali'
age = 25
print('my name is  and my age is age')

my name is  and my age is age

In [53]:
print("my name is " + name + " and my age is " +str(age))

my name is ali and my age is 25

# Format

In [62]:
##name = 'ali'
##age = 25
print('My name is {} and my age is {}.'.format(name, age))

My name is ali and my age is 25.

In [59]:
print(f'My name is {name} and my age is{age}.')

My name is ali and my age is25.

# class 26/5/2019

# if statment

In [1]:
a= 10
b= 20

In [2]:
if a<b

SyntaxError: invalid syntax (<ipython-input-2-3307b27796cc>, line 1)

In [3]:
a =10
b =20

In [4]:
if a < b:
    print("if is true")

if is true

In [10]:
if a > b:
    print("if is false")
else:
    print("else block")

else block

In [13]:
a = 20
b = 40
if a < b:
    print ("true")
else: 
    print("false")

true

In [1]:
temp = int(input("enter the temperatue today:"))#type casting
if temp>30:
    print("its hot weather today")
else:
    print("normal weather")

enter the temperatue today:23
normal weather

# Nested ifs

In [7]:
cnic = input("do you have cnic?")
if cnic=='yes':
    print("ander chalay jaen")# if anyone false than it will not run all is ture than sub true
    nameinlist = input("is my name in l3ist?")
    if nameinlist=='yes':
        print("please cast your vote")
    else:
        print("you can not cast vote")
else:
          print("you cannot cast vote")

do you have cnic?yes
ander chalay jaen
is my name in list?yes
please cast your vote

# if elif esle

In [2]:
# marks = int(input("Enter your marks:"))
# grade = " "#c
# if marks>=90:
#     grade = "A*"
# elif marks >=80:
#     grade = "A"
# elif marks >=70:
#     grade = "B"             #ifanyone is ture tham it will run
# elif marks >= 60:
#     grade = "C"
# elif marks>=50:
#     grade = "D"
# else:
#     print("you are ungraded please try again")
# print(f"your marks are {marks} and your grade is {grade}")

Enter your marks:34
you are ungraded please try again
your marks are 34 and your grade is

In [6]:
cnic = input("do you have cnic?")
nameinlist = input("is my name in list?")
if(cnic =='yes')and (nameinlist=='yes'):
    print("caste your vote") 
else:
    print("you can not")

do you have cnic?yes
is my name in list?yes
caste your vote

In [9]:
#print("helo") #ctrl +/

# list

In [10]:
student =["asad", "saad","umar","ayesha" ]       #  index no order
student

['asad', 'saad', 'umar', 'ayesha']

In [11]:
student[1]

'saad'

In [13]:
list1 = ['string',76 ,34.6 ,'ture']
list1

['string', 76, 34.6, 'ture']

In [14]:
student.append("hussain")
student

['asad', 'saad', 'umar', 'ayesha', 'hussain']

In [16]:
student.insert(3,"abcd")

In [17]:
student

['asad', 'saad', 'umar', 'abcd', 'abcd', 'ayesha', 'hussain']

In [18]:
del student[3]            #signature=shift +tab

In [19]:
student

['asad', 'saad', 'umar', 'abcd', 'ayesha', 'hussain']

In [20]:
student[2]="komal"
student

['asad', 'saad', 'komal', 'abcd', 'ayesha', 'hussain']

# 9/6/19 After eid class:

In [8]:
student=["sanoober","lubna","ayesha","ahsan","maaz"]

In [4]:
student.index("ayesha")

2

In [11]:
student.remove("maaz")

ValueError: list.remove(x): x not in list

In [1]:
cities =["karachi","lahore","peshawar","quetta","karachi","a"]

In [ ]:
cities.sort(reverse=True)

In [ ]:
cities.remove("peshawar")
cities

In [2]:
cities.append("karachi")
cities

['karachi', 'lahore', 'peshawar', 'quetta', 'karachi', 'a', 'karachi']

In [3]:
marks =[46,3,78,33,89,99,23]

In [4]:
marks.sort()

In [5]:
marks.sort(reverse=True)#to sort list in decending order

In [6]:
marks

[99, 89, 78, 46, 33, 23, 3]

In [7]:
list2 = marks   #reference sharing or pass by refrence 
list2

[99, 89, 78, 46, 33, 23, 3]

In [24]:
del marks[2]
list2

[99, 89, 33, 23, 3]

In [25]:
list3 = list2.copy()     #pass by value

In [26]:
list3

[99, 89, 33, 23, 3]

In [27]:
list2.append(499)
list3

[99, 89, 33, 23, 3]

In [28]:
list2

[99, 89, 33, 23, 3, 499]

In [29]:
list2.reverse()
list2

[499, 3, 23, 33, 89, 99]

In [30]:
list2.clear()
list2

[]

In [8]:
numbers = [29,67,45,3,89,90]

In [9]:
x = numbers.pop()
print(x)
print(numbers)

90
[29, 67, 45, 3, 89]

In [10]:
x

90

In [15]:
numbers = [29,67,45,3,89,90]

In [16]:
poppedlist = []

In [21]:
poppedElement = numbers.pop()
poppedlist.append(poppedElement)     #bar bar run karnay say error a giya
print(numbers)
print(poppedlist)

[29]
[90, 89, 3, 45, 67]

In [20]:
if len(numbers) !=0:
    poppedlist.append(numbers.pop())
    print(poppedlist)
else:
    print('your list is empty')

[90, 89, 3, 45]

# list in list

In [61]:
list4 = [19,89,['apple','banana','orange']]
list4

[19, 89, ['apple', 'banana', 'orange']]

In [62]:
list4[2][2]

'orange'

In [63]:
list4[2][1]

'banana'

In [6]:
fruits = ['orange','peach','apple','mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [7]:
student =['ali','378','hussain','karachi','a',5,6,45,2]
student

['ali', '378', 'hussain', 'karachi', 'a', 5, 6, 45, 2]

In [8]:
abc = [23,89,student,fruits,'abcd']
abc

[23,
 89,
 ['ali', '378', 'hussain', 'karachi', 'a', 5, 6, 45, 2],
 ['orange', 'peach', 'apple', 'mango'],
 'abcd']

In [9]:
abc[3].remove('apple')

In [10]:
del abc[2][3]
abc

[23,
 89,
 ['ali', '378', 'hussain', 'a', 5, 6, 45, 2],
 ['orange', 'peach', 'mango'],
 'abcd']

# slicing

In [11]:
# index    0  1   2  3 4  5 6 7  8   9
numbers = [29,67,45,3,89,90,4,23,56,4]
# imdex    -10-9 -8 -7 -6 -5 -4 -3 -2 -1

In [12]:
numbers[-5]

90

In [13]:
numbers[1:3]    #[included: not included]

[67, 45]

In [14]:
numbers[1:4]

[67, 45, 3]

In [18]:
numbers[1:5:2]    #on slicing no error generate

[67, 3]

In [19]:
numbers

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

In [107]:
numbers[:7]

[29, 67, 45, 3, 89, 90, 4]

In [108]:
numbers[3:]

[3, 89, 90, 4, 23, 56, 4]

In [17]:
numbers[: :2]

[29, 45, 89, 4, 56]

In [110]:
print(numbers)

[29, 67, 45, 3, 89, 90, 4, 23, 56, 4]

# 16/6/19

In [18]:
abc = [1,5,8,6,78,25,36]   #

In [19]:
abc[2:4]

[8, 6]

In [20]:
abc[3:]    #akhir tuk slice

[6, 78, 25, 36]

In [27]:
abc[:6]

[1, 5, 8, 6, 78, 25]

In [22]:
abc[::1]   #all element

[1, 5, 8, 6, 78, 25, 36]

In [24]:
abc[::2]

[1, 8, 78, 36]

In [25]:
abc[-5:-1]     #reverse

[8, 6, 78, 25]

In [26]:
abc[-1:-5:-1]

[36, 25, 78, 6]

# Tuple

In [20]:
#tupples are immutable(not change able)
mytupple = (3,4,5,6,7,)

In [21]:
type(mytupple)

tuple

In [22]:
len(mytupple)

5

In [26]:
del mytupple[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytupple[0]

In [33]:
mytupple[4]   #sliceing also applied on tupple

7

In [34]:
mytupple[2:4]

(5, 6)

In [35]:
#all slicing rules of list are also applied on tupple

In [36]:
#paking and unpacking in list and tupple

In [37]:
a = ("asad","fahad","asma","hina")
#Packing

In [38]:
w,x,y,z =a

In [39]:
w

'asad'

In [40]:
x

'fahad'

In [41]:
y

'asma'

In [42]:
z

'hina'

In [51]:
rectangle=[100,200]

In [52]:
height, width = rectangle

In [53]:
 height

100

In [54]:
width

200

# for loops

In [56]:
#task:print your names ten times
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")
print("nassir hussain")

nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain
nassir hussain

In [57]:
for a in range(8):
    print(a,"nasir hussain")     # it start with zero thats y ends on 7

0 nasir hussain
1 nasir hussain
2 nasir hussain
3 nasir hussain
4 nasir hussain
5 nasir hussain
6 nasir hussain
7 nasir hussain

In [59]:
for b in range(5):
    print(b,"nasir hussain")

0 nasir hussain
1 nasir hussain
2 nasir hussain
3 nasir hussain
4 nasir hussain

In [60]:
for b in range(2,5):
    print(b,"nasir hussain")

2 nasir hussain
3 nasir hussain
4 nasir hussain

In [61]:
for b in range(1,8,2):        #(strat,end -1,step)
    print(b,"nasir hussain")

1 nasir hussain
3 nasir hussain
5 nasir hussain
7 nasir hussain

In [62]:
for b in range(0,8,2):
    print(b,"nasir hussain")

0 nasir hussain
2 nasir hussain
4 nasir hussain
6 nasir hussain

In [63]:
for b in range(8,1,-2):
    print(b,"nasir hussain")

8 nasir hussain
6 nasir hussain
4 nasir hussain
2 nasir hussain

In [64]:
for b in range(8,0,-1):
    print(b,"nasir hussain")

8 nasir hussain
7 nasir hussain
6 nasir hussain
5 nasir hussain
4 nasir hussain
3 nasir hussain
2 nasir hussain
1 nasir hussain

In [65]:
for b in range(8,2,-3):    # my example
    print(b,"nasir hussain")

8 nasir hussain
5 nasir hussain

In [66]:
for b in range(0,8,3):
    print(b,"nasir hussain")

0 nasir hussain
3 nasir hussain
6 nasir hussain

In [67]:
my_list = ["john","ada","lovelace"]
for i in my_list:
    print(i)

john
ada
lovelace

In [70]:
my_num = [2,4,5,8,10]
for i in my_num:
    print(i*2)

4
8
10
16
20

In [72]:
my_num = [2,4,5,5,8,10]
my_new_list = []
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 10, 10, 16, 20]

In [74]:
for i in range(21):
    print(i)
    if i ==10:
        print(i*2)

0
1
2
3
4
5
6
7
8
9
10
20
11
12
13
14
15
16
17
18
19
20

In [1]:
for i in range(6):
    print(i)
    if i  ==3:
        print(i*2)

0
1
2
3
6
4
5

In [76]:
#break
#continue
#pass

In [78]:
for i in range(9):
    if i == 3:
        break
    print(i)

0
1
2

In [79]:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

In [81]:
for i in range(5):
    pass

In [82]:
#take input from user and print table
#of that number in the following format
#2 x 1 = 2

# nested loops

In [2]:
table = int(input("enter a  table  num:")) 
for i in range(1,11):
    print(f"{table}*{i}={table*i}")

enter a  table  num:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [1]:
for a in "pakistan":#loop on string
    print (a)

p
a
k
i
s
t
a
n

In [3]:
for a in "pakistan":
    for b in range(5):
        print(a , b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [5]:
f_name = ["blueray","upchuck","lojack","gizmo","do-rag"]
l_name = ["zzz","burp","dogbone","droop",]
full_name =[]

for f in f_name:
    for l in l_name:
        full_name.append(f + " " + l)
full_name

['blueray zzz',
 'blueray burp',
 'blueray dogbone',
 'blueray droop',
 'upchuck zzz',
 'upchuck burp',
 'upchuck dogbone',
 'upchuck droop',
 'lojack zzz',
 'lojack burp',
 'lojack dogbone',
 'lojack droop',
 'gizmo zzz',
 'gizmo burp',
 'gizmo dogbone',
 'gizmo droop',
 'do-rag zzz',
 'do-rag burp',
 'do-rag dogbone',
 'do-rag droop']

# chsnging  case

In [6]:
'pakistan'.upper()

'PAKISTAN'

In [7]:
sl_str = "pakistan zindabad"
len(sl_str)

17

In [8]:
sl_str[5:11]

'tan zi'

In [9]:
sl_str[5:]

'tan zindabad'

In [11]:
sl_str[:11]

'pakistan zi'

In [12]:
sl_str[-7:]

'indabad'

# Dictionaries

dictionary work on key value pair

In [13]:
#defintion:
adict ={}

In [14]:
type(adict)

dict

In [15]:
len(adict)

0

In [23]:
#adding value to a dictionary
adict['name']="hamza khan"
adict['age'] = 34
adict['contact']="1465728"
adict

{'name': 'hamza khan', 'age': 34, 'contact': '1465728'}

In [26]:
adict["age"]

34

In [27]:
adict["name"]

'hamza khan'

In [28]:
adict["contact"]

'1465728'

In [47]:
del adict['age']
adict

{'name': 'hamza khan', 'contact': '1465728'}

In [37]:
bdict = {'city' :"khi","pop":"30m",'city':"lahore"}

In [34]:
bdict["helo"]=1234567
bdict[100]="hundred"
bdict

{'city': 'khi', 'pop': '30m', 'helo': 1234567, 100: 'hundred'}

In [38]:
adict['age']=34
adict

{'name': 'hamza khan', 'contact': '1465728', 'age': 34}

In [39]:
#keys(
#value())
#items

In [41]:
for key in adict.keys():
    print(key)

name
contact
age

In [43]:
for val in adict.values():
    print(val)

hamza khan
1465728
34

In [45]:
for k,v in adict.items():# always first key than value
    print(k)

name
contact
age

In [46]:
for k,v in adict.items():
    print(k,v)

name hamza khan
contact 1465728
age 34

# 34-creating a list of dictionaries

In [50]:
eklist =[23,45,6,{"fruit":"apple","food":"biryani"}]
eklist

[23, 45, 6, {'fruit': 'apple', 'food': 'biryani'}]

In [51]:
eklist[3]

{'fruit': 'apple', 'food': 'biryani'}

In [52]:
eklist[3]["food"]

'biryani'

In [56]:
"age" in adict

False

# 23/6/19

In [1]:
a = [{1:100},{'2':200},{3:300}] #list of dictionary

In [7]:
a[2]

{3: 300}

In [3]:
a[1]['2']

200

In [10]:
d ={'names':['asad','saad','daad',],'ages':[23,34,45]} #first key thandict ka index

In [11]:
d['names'][2]

'daad'

# Functions

In [12]:
#we use function for reuseability of code

In [16]:
a =12
b =34
c =a+b
print(c)

IndentationError: unexpected indent (<ipython-input-16-a89179f09277>, line 2)

In [15]:
def add_two_numbers():
    a =12
    b =34
    c =a+b
    print(c)

In [17]:
def funcName():
    print("i am a function")

In [19]:
funcName()

iam a function

In [23]:
#function defination
def user_name():
    print("i am a good function")

In [24]:
#function calling
user_name()

i am a good function

In [25]:
def greeting(name): # parameter of functiom(name)
    '''it is parametised function'''
    print(f"you are welcome {name}")

In [26]:
greeting("Ahmed")# argument is value

you are welcome Ahmed

In [28]:
greeting()      #example

TypeError: greeting() missing 1 required positional argument: 'name'

In [30]:
greeting("ali")

you are welcome ali

In [31]:
greeting("saad")

you are welcome saad

In [32]:
def meeting(age):
    print(f"you are above {age}")

In [33]:
#define a function with name sum it has two parameter
#a,b 
#in these two parmeter will be added and stored
#in a c
#print the value in the func
#calling
#call the func by giving two arguments

In [36]:
def sum (a,b):
    c = a+b
    print(f"the sum is {c}")

In [38]:
sum(100,200)

the sum is 300

In [39]:
sum(2,7)

the sum is 9

In [44]:
def giveMeFullName(firstName,middleName,lastName):
   # fullName =firstName+middleName+lastName
    fullName = f"{firstName} {middleName} {lastName}"
    print(fullName)

In [45]:
giveMeFullName("farhan", "Ali", "khan") #these are positional arguments

farhan Ali khan

In [53]:
giveMeFullName("miss","fatima","jinnah") #jis tarteeb say naam likhan gain wasay hi aayga

miss fatima jinnah

In [47]:
#key words argument

In [51]:
giveMeFullName(middleName="miss",firstName="fatima",lastName="jinnah")

fatima miss jinnah

In [54]:
#default parametre

In [55]:
def giveMeFullName(firstName,lastName,middleName=""):
   # fullName =firstName+middleName+lastName
    fullName = f"{firstName} {middleName} {lastName}"
    print(fullName)

In [57]:
giveMeFullName("asad","khan")

asad  khan

In [ ]:
#local variable===> scope===>within func  
#global variable=====>scope====> everywhere in the cade   under bhi hota aur bahar bhi hta hai

In [58]:
def sub(u,v):
    w= u-v
    print(w)

In [59]:
sub(200,100)

100

In [62]:
def sub(u,v):
    w= u-v
    return w #return is last line of the func
    print(abcd)# this line will not be axecute

In [66]:
result = sub(200,100)
print(result)

100

In [67]:
def sub(u,v):
    w= u-v
    return w ,"hello python"
    print(abcd)

In [68]:
result = sub(200,100)
print(result)    #more than one value returned in form of tupple

(100, 'hello python')

In [72]:
def sub(u,v):
    global q
    q= "i am a local global"
    w= u-v
    return w
print(sub(15,4),q)

11 i am a local global

# 7 / 7/ 19

# key word arguments

In [1]:
def car(model,year):
    print(model,year)

In [3]:
car('carola',2019)

carola 2019

In [4]:
car(2019,'toyota')

2019 toyota

In [5]:
car(year=2019,model='toyota')

toyota 2019

In [12]:
def name(fname,lname):
    print(f'first name:{fname}')
    print(f'last name:{lname}')

In [13]:
name('hussain','ali')

first name:hussain
last name:ali

In [14]:
name(fname='ali',lname='hussain')

first name:ali
last name:hussain

In [ ]:
def name(fname,lname):
    print(f'first name:{fname}')
    print(f'last name:{lname}')

In [15]:
name('sumaira','alam')

first name:sumaira
last name:alam

In [17]:
name('alam','sumaira')     #jo naam keyword mai phaly aay ga wo pahlay aayy ga.

first name:alam
last name:sumaira

In [19]:
def name(fname,lname):
    print(f'first name:{fname}')
    print(f'last name:{lname}')

In [20]:
name('john',mname='walton','smith')

SyntaxError: positional argument follows keyword argument (<ipython-input-20-98b2591c577b>, line 1)

In [25]:
def name(fname,lname,mname):
    print(f'first name:{fname}')
    print(f'middle name:{mname}')
    print(f'last name:{lname}')

In [26]:
name('john','smith',mname='walton')

first name:john
middle name:walton
last name:smith

# Arbitary number of arguments

In [27]:
def pizza(size,flavour,*toppings):
    print(size,flavour)
    print(toppings)

In [29]:
pizza('large','ckicken tikka','extra cheese','olives')

large ckicken tikka
('extra cheese', 'olives')

In [30]:
pizza('large','ckicken tikka','extra cheese','olives','jalapeno')

large ckicken tikka
('extra cheese', 'olives', 'jalapeno')

In [31]:
def pizza(size,flavour,*toppings):
    print(size,flavour)                 # for more value than arguments
    print(toppings)

In [32]:
pizza('medium','bbq','low cheese','musroom','peprica')

medium bbq
('low cheese', 'musroom', 'peprica')

In [33]:
pizza('medium','bbq','low cheese','musroom','peprica','extra pepper')

medium bbq
('low cheese', 'musroom', 'peprica', 'extra pepper')

In [34]:
def car(make,model,**specs):
    print(make,model)
    print(specs)

In [36]:
car('toyota','prius',transmission ='automatic')

toyota prius
{'transmission': 'automatic'}

In [37]:
car('toyota','prius',transmission ='automatic',power ='yes')

toyota prius
{'transmission': 'automatic', 'power': 'yes'}

# function as a variable

In [54]:
def add(a,b):
    c = a + b
  #  return c

In [55]:
def sub(a,b):
    c = a - b
    return c

In [56]:
result = add(2,2) + sub(6,3)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [46]:
print(result)

7

In [52]:
result = add('nasi','hussain') 
print (result)

nasihussain

In [57]:
result = add('nasi','hussain') 
print (result)

None

# while loops

In [58]:
for a in range(10): #for loop
    print(a)

0
1
2
3
4
5
6
7
8
9

In [59]:
a = 0

while a<10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9

In [63]:
topping =[]
for a in range(5):
    toppings = input('Enter a toppings')
    topping.append(toppings)
print(topping)

Enter a toppingsextra
Enter a toppingshhg
Enter a toppingsll
Enter a toppingslk
Enter a toppingslo
['extra', 'hhg', 'll', 'lk', 'lo']

In [68]:
toppings = []
flag = True

while flag:
    topping = input('Enter a toppings')
    toppings.append (topping)
    if topping ==  'q':
        flag = False 
                              # it will run untill we will not press q
print(toppings)             #runas many time as u can run

Enter a toppingsnm
Enter a toppingsmk
Enter a toppingshj
Enter a toppingsui
Enter a toppingsty
Enter a toppingsq
['nm', 'mk', 'hj', 'ui', 'ty', 'q']

In [70]:
toppings = []
flag = True

while flag:
    topping = input('Enter a toppings')
    if topping ==  'q':
        flag = False 
    else:
        toppings.append(topping)

                        
print(toppings)

Enter a toppingsjh
Enter a toppingsjk
Enter a toppingsio
Enter a toppingsoi
Enter a toppingspl
Enter a toppingsq
['jh', 'jk', 'io', 'oi', 'pl']

In [ ]:
availableflavours =["fjita","tikka","maxican"]
availablesize =["large","medium","small"]
availabletoppings =['olives','cheese','hurbs']
print("Pizza Order")
print()
print()
flag = True 
while flag:
    print(availablesize)
    size = input("Enter pizza size")
    if size not in availablesize:
        print(f'{size} not available')
        print("plz the size again")
        size= input("")
    else: